<div id="ProjectAdd">
    <form id="WizardProjectAdd" name="form" data-ng-submit="ctrl.submit(form)" novalidate>
        <h3 data-translate="wizard_add_tab_create_project"></h3>
        <div class="form-group">
            <label for="projectName" data-translate="wizard_project_add_field_name"></label>
            <input type="text" id="projectName" name="projectName" class="form-control" data-ng-model="ctrl.project.name"
                data-ng-change="ctrl.generateKey()" required>
            <div ng-messages="form.projectName.$error" class="has-error" ng-show="ctrl.submitted" >
                <div ng-message="required">
                    <p class="help-block" data-translate="wizard_project_add_error_name_required"></p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="projectKey" data-translate="wizard_project_add_field_key"></label>
            <input type="text" id="projectKey" name="projectKey" class="form-control" data-ng-model="ctrl.project.key" ng-pattern="ctrl.keyPattern"
                required>
            <div ng-messages="form.projectKey.$error" class="has-error" ng-show="ctrl.submitted">
                <div ng-message="required">
                    <p class="help-block" data-translate="wizard_project_add_error_key_required"></p>
                </div>
                <div ng-message="pattern">
                    <p class="help-block" data-translate="wizard_project_add_error_pattern"></p>
                </div>
            </div>
        </div>

        <div class="well top-space-m20" ng-if="ctrl.project.key">
            <p><span data-translate="wizard_project_add_example_ui_url"></span>{{ ctrl.getUrl() + ctrl.project.key }}</p>
            <p><span data-translate="wizard_project_add_example_cli"></span>{{ ctrl.project.key }}</p>
        </div>

        <h3 data-translate="wizard_add_tab_create_permission"></h3>

        <group-management groups="ctrl.project.groups" edit="true"></group-management>

        <div class="well">
            <p data-translate="wizard_add_permission_explanation"></p>
        </div>
        <button type="submit" class="btn btn-primary pull-right" ng-disabled="!ctrl.checkGroups()" data-translate="wizard_add_button_create"></button>
    </form>
</div>
