<form id="WizardApplicationAdd" name="form" data-ng-submit="wz.submit(form)" novalidate du-scroll-container>
    <h3> 1. <span data-translate="wizard_application_name"></span></h3>
    <input id="applicationName" name="applicationName" type="text" class="form-control" data-ng-model="wz.application.name" required/>

    <h3> 2. <span data-translate="Templating" class="top-space-p20"></span></h3>
    <div class="radio radiogroup" ng-class="{ 'selected': wz.pipelineCreation === 'empty' }">
        <label>
            <input type="radio" value="empty" ng-model="wz.pipelineCreation">
            <span data-translate="wizard_application_label_empty_application"></span>
        </label>
    </div>
    <div class="radio radiogroup" ng-class="{ 'selected': wz.pipelineCreation === 'clone' }" ng-if="wz.applications.length > 0">
        <label>
            <input type="radio" value="clone" ng-model="wz.pipelineCreation">
            <span data-translate="wizard_application_label_clone_application"></span>
        </label>
    </div>
    <div class="radio radiogroup" ng-class="{ 'selected': wz.pipelineCreation === 'template' }">
        <label>
            <input type="radio" value="template" ng-model="wz.pipelineCreation">
            <span data-translate="wizard_application_label_template_application"></span>
        </label>
    </div>

    <div ng-switch="wz.pipelineCreation">
        <div ng-switch-when="template">
            <ui-select ng-model="wz.application.buildTemplate" id="template" name="template" required on-select="wz.goToParameters()">
                <ui-select-match  placeholder="{{ 'wizard_application_add_field_template' | translate }}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="t in wz.templates | propsFilter: {name: $select.search}">
                    <div>
                        <b> <div ng-bind-html="t.name | highlight: $select.search"></div></b>
                    </div>
                    <small>
                        {{t.description}}
                    </small>
                </ui-select-choices>
            </ui-select>
            <div ng-messages="form.template.$error" class="has-error" ng-show="wz.submitted">
                <div ng-message="required">
                    <p class="help-block" data-translate="wizard_application_add_error_template_required"></p>
                </div>
            </div>
        </div>
        <div ng-switch-when="clone">
            <ui-select ng-model="wz.application.cloneApplication" id="clone" name="clone" required on-select="wz.loadApplicationVariables($item)">
                <ui-select-match placeholder="{{ 'wizard_application_add_field_application' | translate }}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="a in wz.applications | propsFilter: {name: $select.search}">
                    <div ng-bind-html="a.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div ng-messages="form.clone.$error" class="has-error" ng-show="wz.submitted">
                <div ng-message="required">
                    <p class="help-block" data-translate="wizard_application_add_error_application_required"></p>
                </div>
            </div>
        </div>
    </div>

    <h3 id="WizardParameter" class="top-space-p20">
        <div ng-show="(wz.application.buildTemplate.params.length > 0 && wz.pipelineCreation === 'template') || (wz.application.variables  && wz.pipelineCreation === 'clone')">
        3.
        <span ng-if="wz.application.buildTemplate.params && wz.pipelineCreation === 'template'" data-translate="wizard_application_add_field_template_params" class="top-space-p20"></span>
        <span ng-if="wz.application.variables  && wz.pipelineCreation === 'clone'" data-translate="wizard_application_add_field_application_params" class="top-space-p20"></span>
        </div>
    </h3>
    <div  class="parameter">
        <div class="form-group" ng-if="wz.application.buildTemplate.params.length > 0 && wz.pipelineCreation === 'template'">
            <parameter-management params="wz.application.buildTemplate.params" showname="false" showtype="false"
                                  editbutton="false" run="true" reposmanager="wz.typeRepo"></parameter-management>
        </div>
        <div class="form-group" ng-if="wz.application.variables && wz.pipelineCreation === 'clone'">
            <parameter-management params="wz.application.variables" showname="true" showtype="false" showdescription="true"
                                  editbutton="false" run="true"></parameter-management>
            <div class="has-error" ng-show="wz.notFilled(wz.application.variables) && wz.submitted">
                <p class="help-block" data-translate="wizard_application_add_error_application_param"></p>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">{{wz.buttontitle}}</button>
</form>
